<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="Description" content="WWW Programmierung Hausarbeit WS2018">
        <meta name="author" content="Jonas Leonhard, 611179">

        <link rel = "stylesheet" type = "text/css" href = "/views/indexstyle.css"media="screen" />
        <link rel = "stylesheet" type="text/css" href="/views/loginstyle.css"media="screen"/>
        <title> {{ pagetitle|escape }}</title>
    {% endblock %}
</head>

<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        {% if not user %}
            <li class = "register"><a href="/user/register">Register</a></li>
            <li class = "login"><a  class="active" href="/user/login">Login</a></li>
        {% endif %}
        {% if user %}
            <li><a href="/entry">Entry</a></li>
            <li><a href ="/user/get/{{ user.username }}">Profile</a></li>
            <li class = "logout"><a href="/user/logout">Logout</a></li>
        {% endif %}
    </ul>
</div>

<body>
<!--if flash message from registration form:-->

{% if message.loginsuccess %}
    <div class="flash"> {{ message.loginsuccess }} </div>
{% endif %}

{% if message.error %}
    <div class ="alert"> {{ message.error }}</div>
{% endif %}

{% if message.createUsersuccess %}
    <div class = "flash">{{ message.createUsersuccess }}</div>
{% endif %}

{% if message.logoutsuccess %}
<div class ="flash">{{ message.logoutsuccess }}</div>
{% endif %}
<div class="wrapper">
    <h2>Login</h2>
    <p>login with your username and password</p>

<form action = "/user/login" method="post">
    <div id = "form">
        <input type="hidden" name="form[token]"
               value="{{ form['token'] }}">

        <div>
            <label for="form_username"
                   class="required">Username</label>
            <br />
            <input type="text" id="username"
                   size="80" name="username"
                    {% if username %} value = {{ username }}
                    {% else %} value="{{ form['username'] }}"
                    {% endif %}>
            {% if error['username'] %}
                <p class="Form-error">{{ error['username'] }}</p>{%
                endif %}
        </div>
<p></p>
        <div>
            <label for="form_password"
                   class="required">Password</label>
            <br />
            <input type="password" id="password"
                   size="80" name="password"
                   value="{{ form['password'] }}" required>
            {% if error['password'] %}
                <p class="Form-error">{{ error['password'] }}</p>{%
                endif %}
        </div>

        <!-- .... -->
        <p></p>
        <button class = "button" type="submit" id="form_save"
                name="form[save]">Login...</button>
    </div>
</form>

</div>
</body>
</html>